{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
    var list = {{ new_item_list | safe}};
    var i=0;
    var j= i+1;
    var t=0;
    var list_length = list.length;




    $(document).ready(function () {

        $('#starRating1').attr("src", list[i].photo);
        $('#starRating2').attr("src",list[i+1].photo);

        i++;

        $('#starRating2').click(function () {

                $('#starRating2').data("pk",list[i].pk);

            i++;

            if(i>=list_length){
                window.location.href = "http://127.0.0.1:8000/worldcup/result/" + {{ contest_id }} +"?pk=" + $('#starRating2').data("pk") ;
                {#window.location.href = "http://127.0.0.1:8000/result/"+$('#starRating2').data("pk") ;#}
            }
            $('#starRating1').attr("src", list[i].photo);

        });

        $('#starRating1').click(function () {

            $('#starRating1').data("pk",list[i].pk);
            i++;
          //  if(i>=list_length){
            //    windows.location.href = "http://127.0.0.1:8000/result/" + "?pk=" + $('#starRating1').data("pk");
           // }

            if(i>=list_length){
               window.location.href = "http://127.0.0.1:8000/worldcup/result/"+ {{ contest_id }} + "?pk=" + $('#starRating1').data("pk");
            }
            $('#starRating2').attr("src", list[i].photo);



        });

    });

    {% comment %}
    $('#starRating img').attr("src", {{ new_item_list. }})
        {% endcomment %}
</script>


    <img id="starRating1">

    <img id="starRating2">

{% comment %}

            <button style="border: 0; background-color: white; height: 600px; width: 600px;" type="submit" name="photo" id="{{ item.title }}" value="{{ item.title }}">
                <img id="{{ item.title }}" name="{{ item.title }}" src="{{ item.photo.url }}" alt="" width="100%"></button>

<form name="select" enctype="multipart/form-data" id="select" method="post">
        {% csrf_token %}
    {% for item in item_list%}
            <h2>{{ item.title }}</h2>
            <button style="border: 0; background-color: white; height: 600px; width: 600px;" type="submit" name="photo" id="{{ item.title }}" value="{{ item.title }}">
                <img id="{{ item.title }}" name="{{ item.title }}" src="{{ item.photo.url }}" alt="" width="100%"></button>
    {% endfor %}
</form>


    <form name="select" enctype="multipart/form-data" id="select" method="post" action="{% url 'worldcup:ajax_view' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#{{ item.title }}').click(function () {
                var queryString = $('#select').serialize();
                alert(queryString);
                $.ajax({
                    url:{% url 'worldcup:ajax_view' contest.id %},
                    data: queryString,
                    dataType:'json',
                    type:'POST',
                    cache:false,
                    processData: false,
                    success: function (data) {
                        alert('zzz');
                    }
                    ,error:function (error) {
                        alert('ㅠㅠ');
                    }
                })
            })
        });
    </script>
{% endcomment %}
{% endblock %}